body{
    width: 100%;
    margin: 0 0;
}

.nav-bar{
    background-color: #FFFFFF;
    width: 100%;
    text-align: right;
    margin: 2rem 0rem;
    font-family: 'Montserrat', sans-serif;
    /* display: flex; */
}
a:link {
    text-decoration: none;
}

#view-plans {
    border: 1.5px solid black;
    padding: 0.7rem;
    width: max-content;
    

}

.nav-brand {
    float: left;
    margin-left: 5rem;
}

.brand {
    font-family: 'Montserrat', sans-serif;
    color: #2c2c40;
    font-weight: bold;
    
}

.nav-items{
    margin-right: 5rem;
}

.nav-item{
    color: #575656;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 2rem 0.8rem;
    opacity: 0.8;
}
.nav-toggle {
    display: none;
}

.mobile-nav-bar{
    background-color: #FFFFFF;
    width: 100%;
    text-align: right;
    margin: 2rem 1rem;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.mobile-nav-items {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}



.intro {
    background-color: #2c2640;
    height: 500px;
    display: flex;
    padding: 2rem 5rem;
    color: #f0f0f0;
}

.intro-line{
    background-color: #f0f0f0;
    height: 0.1rem;
    width: 6rem;
}

.intro-content {
    width: 50%;
}

.intro-image {
    text-align: right;
    width: 50%;
    margin-right: 1rem;
}

.image-intro {
    margin-top: 5rem;
    max-width: 500px;
    align-self: right;
    justify-self: right;
}

@media only screen and (max-width: 617px) {
    .nav-items {
        display: none;
    }
    .nav-toggle{
        display: block;
        margin-right: 3rem;
    }
  }